h1 {
    border: 1px solid black;
}

.row {
    padding: 5px;
}

div.form-group {
    border: 1px solid black;
    width: 100%;
}
* {
    box-sizing: border-box;
}
.col {
    float: left;
    width: 33.33%;
    padding: 10px;
    
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  hr {
      color: black;
  }

   .column {
    float: left;
    width: 50%;
    padding: 10px;
  } 

  #topicInput {
      float: left;
      width: 50%;
      padding: 10px;
  }
  #payloadInput {
      float: right;
      width: 50%;
      padding: 10px;
  }
  